$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #373a3c;
$gray-900: #212529;
$black: #000;

$blue: #2780e3;
$indigo: #6610f2;
$purple: #613d7c;
$pink: #e83e8c;
$red: #ff0039;
$orange: #f2661f;
$yellow: #bed32b;
$green: #3fb618;
$teal: #20c997;
$cyan: #9954bb;
$lightblue: lighten($blue, 20%);

$primary: $blue;
$secondary: $orange;
$success: $green;
$info: $lightblue;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

@import '~bootswatch/dist/cosmo/_variables.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootswatch/dist/cosmo/_bootswatch.scss';
$fa-font-path: '../fonts';
@import '~font-awesome/scss/font-awesome';
@import '~formiojs/dist/formio.full.css';

/* Custom */
// .formio-form {
//   .form-radio {
//     display: flex;
//     justify-content: space-around;
//   }
//   .list-inline {
//     margin: auto;
//     width: 45%;
//     li {
//       margin-right: 4.5rem;
//     }
//   }
// }

.pagination {
  // display: inline-block;
  // margin-top: revert;
  padding-top: 15px;
  justify-content: center;
}

.page-link {
  position: relative;
  display: block; 
  padding: 0.5rem 0.75rem; 
  margin-left: -1px; 
  line-height: 1.25; 
  color: white;
  //color: transparent;
  background-color:transparent;
  border: 0px solid transparent; 
  border-radius: 50%;
}

.pagination .page-item{
  width:23px;
  height: 23px;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  margin: 0 1em;
  display: inline-block;
  color: white;
  position: relative;
}

.formio-form nav li.page-item.active span {
  background-image: url("../../image/logo.png");
  color: transparent;
  border-color: rgb(52, 172, 52);
  border: 1px solid green;
}

.page-item .page-link::before {
  width:23px;
  height: 23px;
  text-align: center;
  line-height: 2em;
  border-radius: 100%;
  margin: 0 1em;
  display: inline-block;
  color: transparent;
  position: relative;
}

.formio-form nav ul li::before{
  content: '';
  position: absolute;
  top: 9px;
  left: -40px;
  width: 40px;
  height: 3px;
  background: green;
  z-index: -1;
}

.formio-form nav ul li span {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: green;
  color:transparent;
  font-weight: 500;
  border: 1px solid green; 
}

li:first-child::before {
  display: none;
}

.active ~ .page-item {
  background: green;
}

.active ~ li::before {
  background: green;
}

.page-link{
  pointer-events: none;
}

.formio-form div ul{
  
}

.alert-danger{
  display: none;
}

.formio-component-textfield.formio-error-wrapper {
  color: #000;
  background-color: transparent;
  display:inherit;
}

.formio-component-textfield.formio-error-wrapper, .formio-warning-wrapper {
   padding: 0em; 
}

// .form-text {
//   display: block;
//   margin-top: 0.25rem;
//   padding-left: 24em;
// }

.formio-component-caseNumber .form-text {
  display: block;
  margin-top: 0.25rem;
  padding-left: 26em;
}

.formio-component-registrationNumber .form-text{
  display: block;
  margin-top: 0.25rem;
  padding-left: 26em;
}

.formio-component-phoneNumber .form-text{
  display: block;
  margin-top: 0.25rem;
  padding-left: 26em;
}

.formio-component-email .form-text{
  display: block;
  margin-top: 0.25rem;
  padding-left: 26em;
}

.formio-component-patientStatus .form-text{
  display: block;
  margin-top: 0.25rem;
  padding-left: 26em;
}

.filed-content button text{
  content: '';
}


/*replace the content value with the
corresponding value from the list below*/
.formio-component-submit i{
  display: none;
}

.formio-component-file .fileSelector {
  padding: 1px;
  border: 2px dashed #ddd;
 // text-align: center;
  color:transparent;
  //height: 40px;
}

.fileSelector a  {
  display: none;
}

.fileSelector .browse{
  color: red;
  display: inline-block;
  
}

.fileSelector .fa-camera{
  display: none;
}
.custom_upload .fileSelector{
  width: 250px;
  height:auto;
}


@media (min-width: 992px) {
  .col-lg-1  {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    min-width: max-content;
  }
}