$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #373a3c;
$gray-900: #212529;
$black:    #000;

$blue:    #2780E3;
$indigo:  #6610f2;
$purple:  #613d7c;
$pink:    #e83e8c;
$red:     #FF0039;
$orange:  #F2661F;
$yellow:  #BED32B;
$green:   #3FB618;
$teal:    #20c997;
$cyan:    #9954BB;
$lightblue: lighten($blue, 20%);

$primary:       $blue;
$secondary:     $orange;
$success:       $green;
$info:          $lightblue;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

@import "~bootswatch/dist/cosmo/_variables.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootswatch/dist/cosmo/_bootswatch.scss";
$fa-font-path: '../fonts';
@import '~font-awesome/scss/font-awesome';
@import '~formiojs/dist/formio.full.css';

.logo {
  height: 1.9em;
}

.text-blue {
  color: #127ABF;
}

.text-green {
  color: #449414;
}

.hero-image {
  display: inline;
  height: 2em;
}

#main {
  margin-top: 10px;
}
/* Customize Css */

// pagination



/* NINE */

.pagination {
  display: inline-block;
  margin-top: revert;
  padding-top: 15px;
}

.page-link {
  position: relative;
  display: block; 
  padding: 0.5rem 0.75rem; 
  margin-left: -1px; 
  line-height: 1.25; 
  color: #2780E3;
  background-color:transparent;
  border: 0px solid transparent; 
  border-radius: 100%;
}

.pagination .page-item{
  width:23px;
  height: 23px;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background: dodgerblue;
  background-image: url("../src/image/logo.png");
  margin: 0 1em;
  display: inline-block;
  color: white;
  position: relative;
}

.page-item.active .page-link {
  width:23px;
  height: 23px;
  text-align: center;
  line-height: 2em;
  border-radius: 100%;
  z-index: 3;
  color: #fff;
  background-image: url("../src/image/logo.png");
  border-color: red;
}

.page-item .page-link::before {
  width:23px;
  height: 23px;
  text-align: center;
  line-height: 2em;
  border-radius: 100%;
  background: yellow;
 // margin: 0 1em;
  display: inline-block;
  color: white;
  position: relative;
}

li::before{
  content: '';
  position: absolute;
  top: 9px;
  left: -40px;
  width: 40px;
  height: 3px;
  background: rgb(52, 172, 52);
  z-index: -1;
}

li:first-child::before {
  display: none;
}

.active ~ .page-item {
  background: rgb(190, 241, 142);
}

.active ~ li::before {
  background: rgb(171, 238, 144);
}

.page-link{
  //cursor: not-allowed;
  pointer-events: none;
}

.formio-component-select{
  width: 95%;
}
.dropup, .dropright, .dropdown, .dropleft {
  /* position: relative; */
}
.has-feedback .form-control {
  /* padding-right: 10px; */
}
.formio-component-textfield{
  width: 95%;
}
.custom-date{
//background-color: salmon;
 width: 95%;
}

.input-group-append .fa-clock-o{
  display: none;
}

.input-group-append .input-group-text {
  display: flex;
  align-items: center;
  padding: 0px;
  margin-bottom: 0;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: white;
}
.col-form-label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
  padding-left: 10px;
}

.formio-component-container:first-child div{
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}
.form-radio{
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}
.form-check{
  margin-left: 10px;
}
.formio-component-label-hidden{
  margin-left: 10px;
}
.custom {
  background-color: #20c997;
}
.hide{
  visibility: hidden;
}
.formio-component-custom{
  visibility: hidden;
}
.custom-header{
  color: #242625;
  padding-top: 10px;
  text-align: center;
  padding-bottom: 10px
}
.wizard-eht3vrl-header{
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  background: #fbe8aa;
  top: 45px;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  background: #fbe8aa;
  top: 45px;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.bs-wizard {
  border-bottom: solid 1px #e0e0e0;
  padding: 0 0 10px 0;
}

.fileSelector{
  margin: 0;
  background: white;
  position: relative;
  left: 30%;
  right: 30%;
  margin-right: -50%;
  margin-left: -50%;
 border-radius: 50%;

 color: transparent;
 width: 120px;
 height: 120px;
 margin: 0;
 font-size: 0;
}

.fileSelector1 {

  // padding: 10px;
   border: 2px dashed red;
   //text-align: center;
   color: transparent;
   width: 120px;
   height: 120px;
   margin: 0;
   font-size: 0;
 }

.fileSelector i:first-child {
  color: grey;
}

.fileSelector a::after{
  color: grey;
  text-align: center;
}
.fileSelector .a{
  color: #20c997;
  padding-bottom:20px;
}

a:not(.fa-camera) {
  color: transparent;
 // text-align: center;

}
a:not(.fa-camera)::after{
 // text-align: center;
 //margin-right: 20px;
  font-size: 12px;
  content: 'Passport Photo';
}

.formio-component-file .fileSelector .glyphicon, .formio-component-file .fileSelector .fa {
    font-size: 20px;
    /* margin-right: 17px; */
    align-items: center;
    text-align: center;
    /* padding-right: 16px; */
    align-content: center;
    margin-left: 25px;
    margin-top: 0px;
    margin-bottom: auto;
    
}

.fileSelector .fa-cloud-upload{
  display: none;
}
.fileSelector .fa-camera{
  font-size: 50px;
  color: #9f070a;
  margin-right: 0px;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.browse{
   display : none;
}



// ul{
//     margin: 0;
//     padding: 0;
// }
// .pagination > li{
//     overflow: hidden;
//     position: relative;
//     margin-top: 25px;
//     width: 25%;
//     float: left;
//     list-style: none;
//     padding: 0;
// }
// .pagination > li p{
//     color: #000;
//     line-height: 1;
// }
// .pagination > li > a{
//     line-height: 50px;
//     text-decoration: none;
//     color: #000;
//     display: block;
//     text-align: center;
//     position: relative;
// }
// /*positon the circle*/
// .pagination > li > a:before{
//     content:'';
//     position: absolute;
//     z-index: -1;
//     width: 50px; height: 50px;
//     left: 50%; margin-left: -25px;
//     border-radius: 100%;
//     border: 1px solid blue;
//     transition: all .2s;
// }

// /*positioning the line*/
// .pagination > li:not(:last-of-type):after,
// .pagination > li:not(:first-of-type):before{
//     content: '';
//     position: absolute;
//     background: blue;
//     top: 25px;
//     height: 1px;
// }
// .pagination > li:first-of-type:after{
//     left: 50%;
//     right: 0;
//     margin-left: 25px;
// }
// .pagination > li:not(:first-of-type):before{
//     left: 0;
//     right: 50%;
//     margin-right: 25px;    
// }
// .pagination > li:not(:first-of-type):after{
//     right: 0;
//     left: 50%;
//     margin-left: 25px;
// }

// /*hover stuff*/
// .pagination > li:hover a{
//     color: #fff;
// }
// .pagination > li:hover a:before{
//     background: blue;
// }