/* Customize Css */


// a:not(.browse) {
//    color:blue;
//    text-align: center;
//  }

/* Header */


// .builder-components .drag-container .formio-builder-form .alert {
//   display: contents;
// }

.universityName{
  color: #657067;
  font-style: solid;
}

.universityHeader {
  display: block;
  font-size: 20px;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: #657067;
}

.universityList{
  padding-top: 10px;
  //border-style: solid;
}
.formList{
  //border-style: solid;
  margin-top: 15px;
  margin-bottom: 10px;
}
.formIcon{
  width: 50px;
}

.button {
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #4CAF50;
  cursor: pointer;
}

.button1 {
  background-color: #4CAF50;
  border-radius: 5px;
  border-style: solid;
} 
.button1:hover {
  background-color: #69e06d;
  border-color: #69e06d;
  color: #2780E3;
}


.fa .fa-plus-square{
  color:red
}
.fa-wpforms{
  color:#009B00;
}
.customLink{
  color:red;
}
// .customLink a:not(.browse) {
//    color: red; 
//   /* text-align: center; */
// }
.f_button {
  border: none;
  color: white;
  padding: 4px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 6px;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #4CAF50;
  cursor: pointer;
  height: 40px;
}

.f_button1 {
  background-color: #4CAF50;
  border-radius: 5px;
  border-style: solid;
} 
.f_button1:hover {
  background-color: #69e06d;
  border-color: #69e06d;
  color: #2780E3;
}
.form_label{
  font-size: 16px;
}
.label_custom{
  padding-right: 10px;
  font-size: 16px;
  font-weight: bold;
}
.text_custom{
  width: 400px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
}
.select_custom{
  width: 100px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
}

/* Form Component */

.card-body .btn-primary {
  color: #fff;
  background-color: #4CAF50;
  border-color: #99a63c;
}

.formio-component-button .btn-primary{
  background-color: #4CAF50;
  border-color: #99a63c;
}

.f_button1:hover {
  background-color: #69e06d;
  border-color: #69e06d;
  color: #2780E3;
}


